/* Existing media query */
/* @media  (max-width: 1000px) {
  #HeroSection {
    margin-top: 8rem;
  }
} */
#HeroSection {
  margin-top: 15rem
}


#InfoSection {
   margin-top: 12rem 
}

/* New media query for responsiveness */
@media (max-width: 1000px) {
  #HeroSection {
    margin-top: 10rem;
  }

  #InfoSection {
    margin-top: 7rem;
  }
}
/* New media query for responsiveness */
@media (max-width: 910px) {
  #HeroSection {
    margin-top: 5rem;
  }

  #InfoSection {
    margin-top: 2rem;
  }
}
/* New media query for responsiveness */
@media (max-width: 500px) {
  #HeroSection {
    margin-top: 5rem;
  }

  #InfoSection {
    margin-top: 0.2rem;
  }
}
